*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
    
    
}

#container{
    height:100%;
    width: 100%;
    padding: 15px;
    gap:5vh;
    position: relative;
    background-color: rgba(133, 133, 226, 0.467);
    
    
       
}
#container::before {
    content: "";
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
     opacity: 0.6;  
     inset: 0;
   position: absolute;
   background-color: rgba(255, 255, 255, 0.458)
}

.heroSection{
    display: grid;
    place-items: center;
    height: 40%;
    padding-top: 1%;
    height: 70%;
   
    

}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
    position: relative;
    

}
.box{
    
    height: 18vmin;
    width: 18vmin;
    border-radius: 9px;
    box-shadow: 10px ,44px,44px rgba(140, 0, 255, 0.267) inset;
    cursor: pointer;
    font-size: 10vmin;
    color: rgba(242, 45, 45, 0.788);
    border:4px solid rgb(60,60,60);
    background-color:rgb(76, 67, 89)
    
}
.box:hover{
    background-color:rgb(88, 83, 83) ;
}
h1{
    isolation: isolate;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    color: brown;
    font-weight: bolder;
    padding-bottom: 5px;
    margin-top: 10px;
    
    width: 135vmin;
    border-bottom: 4px rgb(3, 24, 62) solid;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reset{
    cursor:pointer;
    border-radius: 8px;
    height: 6vmax;
    width: 20vmax;
    font-size: 2.6vmax ;
    font-style: italic;
    background-color: rgb(141, 112, 183);
    color: white;
    box-shadow: 30px,60px ,60px rgba(0, 0, 0, 0.33),30px,60px,60px rgba(0, 0, 0, 0.33),30px,60px,60px rgba(0, 0, 0, 0.33);
    

    margin-top: 4px;
    
    



}
#reset:hover{
    background-color: rgb(125, 125, 230);
    color: rgb(48, 2, 2);
}
.winner h2{
    width: 350px;
    isolation: isolate;
}
.winner{
   color: blue; 
   font-weight: 300;
   isolation: isolate;
   font-size: 0vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: width is ease-in-out;
   height: 0px;
   width: 0px;
}
img{
    width: 0%;
    transition: width is ease-in-out;
}
#reset-button{
    display: flex;
    justify-content: center;
    isolation: isolate;
    
    

}
.info{
    font-size: 4.5vw;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.info p{
    color: rgb(2, 2, 28);
}
#game_center{
    display: flex;
    gap: 6vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.turn{
    display: flex;
    flex-direction: row;
    width: 11vw;
    height: 4vw;
    box-shadow: 8px 8px 8px rgb(135, 116, 161), 8px 8px 8px rgb(141, 112, 183),8px 8px 8px rgb(141, 112, 183);
    isolation: isolate;

    
}
.x{
   border:1px grey;
   background-color: rgb(125, 125, 230);
   color: white;
   isolation: isolate;
   font-style: italic;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 64%;
   width: 50%;

}
 
.o{
    border:1px grey ;
    background-color: rgb(56,56,203);
    color: white;
     isolation: isolate;
    font-style: italic; 
    width: 50%;
     font-size: 64%;
     display: flex;
   justify-content: center;
   align-items: center;
   font-size: 64%;
   width: 50%;
}
@media (max-width:820px){
   #game_center{
    flex-direction:column;
   } 
   .turn{
    width: 22vw;
    height: 10vw;
    box-shadow: none;
    font-size: 9vw;
   }
   .info p{
    font-size: 5.3vw;
   }
   .info{
    width: 30vw;
    justify-content: center;
    align-items: center;
   }
   #reset{
    width: 22vmax;
    height: 10vmax;
    font-size: 3vmax;
   }
   .box{
    height: 19vmin;
    width: 19vmin;

   }
   h1{
    width: 50vmax;
   }
   

}
